#submithospital{
    margin-top: 10px;
    margin-left: 480px;
}
#editbtn{
    margin-left: 70px;
}
#deletebtn{
    margin-left: 70px;
}
#hospitalform{
    margin-top: 50px;
}











